<div class="countdown" data-target="{{ site.Params.conferenceDate }}">
  <div class="countdown-item">
    <span class="countdown-value" id="cd-days">--</span>
    <span class="countdown-label">{{ i18n "countdown_days" }}</span>
  </div>
  <div class="countdown-item">
    <span class="countdown-value" id="cd-hours">--</span>
    <span class="countdown-label">{{ i18n "countdown_hours" }}</span>
  </div>
  <div class="countdown-item">
    <span class="countdown-value" id="cd-mins">--</span>
    <span class="countdown-label">{{ i18n "countdown_minutes" }}</span>
  </div>
  <div class="countdown-item">
    <span class="countdown-value" id="cd-secs">--</span>
    <span class="countdown-label">{{ i18n "countdown_seconds" }}</span>
  </div>
</div>
