{{- $sessions := where site.RegularPages "Section" "sessions" -}}
{{- $speakers := where site.RegularPages "Section" "speakers" -}}
{{- $offers := slice -}}
{{- range site.Data.tickets.ticket_types -}}
  {{- if and .active (not .is_sold_out) -}}{{- $offers = $offers | append . -}}{{- end -}}
{{- end -}}
{{- $confDate := substr site.Params.conferenceDate 0 10 -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": {{ site.Params.conferenceName | jsonify | safeJS }},
  "description": {{ (.Description | default site.Params.description) | jsonify | safeJS }},
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "startDate": {{ site.Params.conferenceDate | jsonify | safeJS }},
  "endDate": {{ site.Params.conferenceEndDate | jsonify | safeJS }},
  "location": {{ partial "schema-place.html" "" | safeJS }},
  "organizer": {
    "@type": "Organization",
    "name": {{ site.Params.organizerName | jsonify | safeJS }},
    "url": "{{ site.BaseURL }}"
  },
  "performer": [
    {{- range $i, $sp := $speakers -}}
    {{- if $i }},{{ end }}
    {
      "@type": "Person",
      "name": {{ $sp.Title | jsonify | safeJS }},
      "url": {{ $sp.Permalink | jsonify | safeJS }}
      {{- with $sp.Params.tagline }},
      "jobTitle": {{ . | jsonify | safeJS }}
      {{- end }}
    }
    {{- end }}
  ],
  "subEvent": [
    {{- range $i, $s := $sessions -}}
    {{- $duration := $s.Params.duration | default 45 -}}
    {{- $time := $s.Params.time -}}
    {{- $h := index (split $time ":") 0 | int -}}
    {{- $m := index (split $time ":") 1 | int -}}
    {{- $endM := add $m $duration -}}
    {{- $endH := add $h (div $endM 60) -}}
    {{- $endMM := mod $endM 60 -}}
    {{- $endTime := printf "%02d:%02d" $endH $endMM -}}
    {{- if $i }},{{ end }}
    {
      "@type": "Event",
      "name": {{ $s.Title | jsonify | safeJS }},
      "url": {{ $s.Permalink | jsonify | safeJS }},
      "startDate": "{{ $confDate }}T{{ $time }}:00+02:00",
      "endDate": "{{ $confDate }}T{{ $endTime }}:00+02:00",
      "eventStatus": "https://schema.org/EventScheduled",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "location": {{ partial "schema-place.html" ($s.Params.room | default "") | safeJS }}
    }
    {{- end }}
  ],
  "offers": [
    {{- range $i, $t := $offers -}}
    {{- if $i }},{{ end }}
    {
      "@type": "Offer",
      "name": {{ $t.title | jsonify | safeJS }},
      "price": "{{ $t.price }}",
      "priceCurrency": {{ $t.currency | jsonify | safeJS }},
      "availability": "https://schema.org/InStock",
      "validFrom": {{ site.Params.conferenceDate | jsonify | safeJS }},
      "url": {{ site.Params.ticketURL | jsonify | safeJS }}
    }
    {{- end }}
  ],
  "image": "{{ site.Params.ogImage | absURL }}",
  "url": "{{ .Permalink }}"
}
</script>
